* text=auto
*.md text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.cs text eol=crlf
*.csproj text eol=crlf
*.vcxproj text eol=crlf
*.bat text eol=crlf
*.onnx binary
*.dll binary
*.exe binary
*.lib binary
*.jpg binary
*.png binary
