#include <windows.h>
#include "resource.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,0,0
 PRODUCTVERSION 1,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "天天代码码天天\0"
            VALUE "FileDescription", "OpenCV 5 DNN PP-OCR Win7 HTTP Server\0"
            VALUE "FileVersion", "1.1.0.0\0"
            VALUE "InternalName", "lw.OpenCVDNN.PPOCR.HttpServer.exe\0"
            VALUE "LegalCopyright", "天天代码码天天,QQ:819069052\0"
            VALUE "OriginalFilename", "lw.OpenCVDNN.PPOCR.HttpServer.exe\0"
            VALUE "ProductName", "lw.OpenCVDNN.PPOCR Win7 HTTP Server\0"
            VALUE "ProductVersion", "1.1.0.0\0"
            VALUE "Comments", "作者: 天天代码码天天,QQ:819069052\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
